
alias help='tldr'
alias copypath='pwd|pbcopy'
alias zshconfig="code ~/.zshrc"
alias sshconfig="code ~/.ssh"
alias preview="fzf --preview 'bat --color \"always\" {}'"

# Docker 
alias dcd='docker-compose down'
