
# Print database configuration
function xdb { docker exec -it $1 cat /etc/xroad/db.properties }

# Start port forwarding ssh-connection to x-road environments
function xbastion { ssh -D12765 bastion.x-road.rocks }

# Get api key from ss1
function xkey { 
  docker exec -it ss1 curl -X POST -u xrd:secret https://localhost:4000/api/api-key --data '["XROAD_REGISTRATION_OFFICER","XROAD_SECURITYSERVER_OBSERVER","XROAD_SECURITY_OFFICER","XROAD_SERVICE_ADMINISTRATOR","XROAD_SYSTEM_ADMINISTRATOR"]' --header "Content-Type: application/json" -k
}

# Open database console to ss1
function xdbc {
  docker exec -it -u postgres ss1 bash -c "psql;"
}

# List log files in security server
function xloglist {
  docker exec -it ss1 ls -l /var/log/xroad
}

# Print spesific log file in security server
function xlog {
  docker exec -it ss1 cat /var/log/xroad/$1
}

# Run tests on proxy-ui-api
function xtest-proxy-ui-api {
  docker exec -it -w /home/builder/xroad/src/proxy-ui-api builder bash -c "../gradlew test -Pskip-frontend-build"
}

# Run build with checkstyle on proxy-ui-api
function xbuild-proxy-ui-api {
  docker exec -it -w /home/builder/xroad/src/proxy-ui-api builder bash -c "../gradlew build -Pskip-frontend-build"
}

# Print tail for a logfile
function xtail {
  docker exec -it ss1 tail -f /var/log/xroad/$1
} 

# Configure local proxy-ui-api so that it can be run on host
function xproxy-backend {
  sed -i '' 's/4100/5000/g' "$XROAD_HOME"/src/proxy-ui-api/frontend/.env.local
  sed -i '' 's/port: 4000/port: 5000/g' "$XROAD_HOME"/src/proxy-ui-api/src/main/resources/common-application.yml
  sed -i '' 's/classes.dependsOn make/\/\/classes.dependsOn make/g' "$XROAD_HOME"/src/common-util/build.gradle
  sed -i '' 's/clean.dependsOn makeClean/\/\/clean.dependsOn makeClean/g' "$XROAD_HOME"/src/common-util/build.gradle
}

# Reset local proxy-ui-api so that it is run in container
function xproxy-backend-reset {
  sed -i '' 's/5000/4100/g' "$XROAD_HOME"/src/proxy-ui-api/frontend/.env.local
  sed -i '' 's/port: 5000/port: 4000/g' "$XROAD_HOME"/src/proxy-ui-api/src/main/resources/common-application.yml
  sed -i '' 's/\/\/classes.dependsOn make/classes.dependsOn make/g' "$XROAD_HOME"/src/common-util/build.gradle
  sed -i '' 's/\/\/clean.dependsOn makeClean/clean.dependsOn makeClean/g' "$XROAD_HOME"/src/common-util/build.gradle
}

# Remove and recreate dev containers
function xrecreate_containers {
  cd $XROAD_UTILS_HOME/docker/dev && docker-compose down
  cd $XROAD_UTILS_HOME/docker/dev/tools && ./setup_dev_containers.sh true
}

# Setup proxy-ui-api on host
function xrecreate_proxy_ui_api_on_host {
  cd $XROAD_UTILS_HOME/docker/dev && docker-compose down
  cd $XROAD_UTILS_HOME/docker/dev/tools/setup_proxy_ui_api_on_host.sh && xproxy-backend
}

function xswitch {
  ssh etulinja@kapsi.fi 'cd sites/etulinja.kapsi.fi/www && mv example.yaml example_tmp.yaml && mv example_other.yaml example.yaml && mv example_tmp.yaml example_other.yaml'
}